*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
html,body{
    height: 100%;
    width: 100%;
}
#one{
    height: 100%;
    width: 100%;
}
#one img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.text-on-image {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: pink;
    font-size: 40px;
    font-weight: bold;
    padding: 10px;
}
#one1{
    height: 15%;
    width:100%;
    display: flex;
    position: fixed;
    z-index:10;
    background-color:rgb(255, 250, 250);
}
#two{
    height: 100%;
    width: 100%;
    background-color:rgb(245, 221, 225);
}
#two2{
    height: 8%;
    width:100%;
    background-color:rgb(247, 182, 193);
    position: absolute;
    color: white;
    font-size: 18px;
    font-weight: bold;
    padding: 10px;
    padding-left: 250px;
}
#two img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
#textinimage1{
    position: absolute;
    top: 115%;
    left: 75%;
    transform: translate(-50%, -50%);
    color: rgb(246, 244, 245);
    font-size: 35px;
    font-weight: bold;
    padding: 10px;
}
#textinimage11{
    position: absolute;
    top: 128%;
    left: 76%;
    transform: translate(-50%, -50%);
    color: rgb(246, 244, 245);
    font-size: 15px;
    font-weight: bold;
    padding: 10px;
}
#textinimage2{
    position: absolute;
    top: 145%;
    left: 75%;
    transform: translate(-50%, -50%);
    color: rgb(246, 244, 245);
    font-size: 35px;
    font-weight: bold;
    padding: 10px;
}
#textinimage22{
    position: absolute;
    top: 155%;
    left: 76%;
    transform: translate(-50%, -50%);
    color: rgb(246, 244, 245);
    font-size: 15px;
    font-weight: bold;
    padding: 10px;
}
#textinimage3{
    position: absolute;
    top: 175%;
    left: 75%;
    transform: translate(-50%, -50%);
    color: rgb(246, 244, 245);
    font-size: 35px;
    font-weight: bold;
    padding: 10px;
}
#textinimage33{
    position: absolute;
    top: 185%;
    left: 76%;
    transform: translate(-50%, -50%);
    color: rgb(246, 244, 245);
    font-size: 15px;
    font-weight: bold;
    padding: 10px;
}
#name{
    margin: 22px;
    margin-left: 100px;
    margin-right: 400px;
    color:rgb(242, 179, 190);
    display: flex;
    font-size: 25px;
    font-weight:bold;
}
.text{
    margin: 35px 20px;
    color:rgb(242, 179, 190);
    display: flex;
    font-weight:500px;
}
#three{
    height: 8%;
    width: 100%;
    background-color:rgb(172, 64, 109);
    position: absolute;
    color: white;
    font-size: 18px;
    font-weight: bold;
    padding: 10px;
    padding-left: 450px;
}